<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.dao.share_project_infoMapper" >
  <resultMap id="BaseResultMap" type="com.share.model.share_project_info" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="dayval" property="dayval" jdbcType="REAL" />
    <result column="weekval" property="weekval" jdbcType="REAL" />
    <result column="yearval" property="yearval" jdbcType="REAL" />
    <result column="allval" property="allval" jdbcType="REAL" />
    <result column="creatime" property="creatime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, dayval, weekval, yearval, allval, creatime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_project_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.model.share_project_info" >
    insert into share_project_info (id, pid, dayval, 
      weekval, yearval, allval, creatime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{dayval,jdbcType=REAL}, 
      #{weekval,jdbcType=REAL}, #{yearval,jdbcType=REAL}, #{allval,jdbcType=REAL}, #{creatime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.model.share_project_info" >
    insert into share_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="dayval != null" >
        dayval,
      </if>
      <if test="weekval != null" >
        weekval,
      </if>
      <if test="yearval != null" >
        yearval,
      </if>
      <if test="allval != null" >
        allval,
      </if>
      <if test="creatime != null" >
        creatime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="dayval != null" >
        #{dayval,jdbcType=REAL},
      </if>
      <if test="weekval != null" >
        #{weekval,jdbcType=REAL},
      </if>
      <if test="yearval != null" >
        #{yearval,jdbcType=REAL},
      </if>
      <if test="allval != null" >
        #{allval,jdbcType=REAL},
      </if>
      <if test="creatime != null" >
        #{creatime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.model.share_project_info" >
    update share_project_info
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="dayval != null" >
        dayval = #{dayval,jdbcType=REAL},
      </if>
      <if test="weekval != null" >
        weekval = #{weekval,jdbcType=REAL},
      </if>
      <if test="yearval != null" >
        yearval = #{yearval,jdbcType=REAL},
      </if>
      <if test="allval != null" >
        allval = #{allval,jdbcType=REAL},
      </if>
      <if test="creatime != null" >
        creatime = #{creatime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.model.share_project_info" >
    update share_project_info
    set pid = #{pid,jdbcType=INTEGER},
      dayval = #{dayval,jdbcType=REAL},
      weekval = #{weekval,jdbcType=REAL},
      yearval = #{yearval,jdbcType=REAL},
      allval = #{allval,jdbcType=REAL},
      creatime = #{creatime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>