<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.dao.share_project_valueMapper" >
  <resultMap id="BaseResultMap" type="com.share.model.share_project_value" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="dayval" property="dayval" jdbcType="REAL" />
    <result column="creatime" property="creatime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, dayval, creatime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_project_value
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from share_project_value
        where pid = #{pid,jdbcType=INTEGER}
    </select>
    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.share.model.share_project_value" >
        select
        count(0)
        from share_project_value
        where pid = #{pid,jdbcType=INTEGER}  and creatime = #{creatime,jdbcType=TIMESTAMP}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_project_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.model.share_project_value" >
    insert into share_project_value (id, pid, dayval, 
      creatime)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{dayval,jdbcType=REAL}, 
      #{creatime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.share.model.share_project_value" >
    insert into share_project_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="dayval != null" >
        dayval,
      </if>
      <if test="creatime != null" >
        creatime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="dayval != null" >
        #{dayval,jdbcType=REAL},
      </if>
      <if test="creatime != null" >
        #{creatime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.model.share_project_value" >
    update share_project_value
        <set >
      <if test="dayval != null" >
        dayval = #{dayval,jdbcType=REAL},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER} and creatime = #{creatime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.model.share_project_value" >
    update share_project_value
    set pid = #{pid,jdbcType=INTEGER},
      dayval = #{dayval,jdbcType=REAL},
      creatime = #{creatime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>