<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.dao.share_project_adjMapper" >
  <resultMap id="BaseResultMap" type="com.share.model.share_project_adj" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pi_id" property="piId" jdbcType="INTEGER" />
    <result column="adjtimes" property="adjtimes" jdbcType="INTEGER" />
    <result column="buymuch" property="buymuch" jdbcType="REAL" />
    <result column="percent" property="percent" jdbcType="REAL" />
    <result column="buymoney" property="buymoney" jdbcType="REAL" />
    <result column="buytime" property="buytime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="suretime" property="suretime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>

    <resultMap type="com.share.model.share_project_adj" id="adjList">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="pi_id" property="piId" jdbcType="INTEGER" />
        <result column="adjtimes" property="adjtimes" jdbcType="INTEGER" />
        <result column="buymuch" property="buymuch" jdbcType="REAL" />
        <result column="percent" property="percent" jdbcType="REAL" />
        <result column="buymoney" property="buymoney" jdbcType="REAL" />
        <result column="buytime" property="buytime" jdbcType="TIMESTAMP" />
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
        <result column="suretime" property="suretime" jdbcType="TIMESTAMP" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <collection ofType="com.share.model.share_project_info" property="proinfo">
            <id property="id" column="id"/>
            <result property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>

  <sql id="Base_Column_List" >
    id, pi_id, adjtimes,buymuch, percent, buymoney, buytime, updatetime, suretime, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from share_project_adj
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="select_adj_list" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from share_project_adj
        where type = 0 order by updatetime desc
    </select>

    <select id="selectAdjbuyPid" resultMap="adjList" parameterType="java.lang.Integer">
         select sid,sname,adjtimes,buymuch, percent, buymoney, buytime, updatetime, suretime
        from share_project_adj as a
		left join share_project_info as b
         on a.pi_id = b.pi_id
         where b.pid = #{pid,jdbcType=INTEGER} order by updatetime desc
    </select>

    <select id="selectNewAdj" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from share_project_adj
        order by updatetime limit 0,1
    </select>
    <select id="maxTimes" parameterType="java.lang.Integer"  resultType="java.lang.Integer">
        select max(adjtimes)
        from share_project_adj as a
		right join share_project_info as b
         on a.pi_id = b.pi_id
         where b.pid = #{pid,jdbcType=INTEGER}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_project_adj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.model.share_project_adj" >
    insert into share_project_adj (id, pi_id,adjtimes, buymuch,
      percent, buymoney, buytime,
      updatetime, suretime, type
      )
    values (#{id,jdbcType=INTEGER}, #{piId,jdbcType=INTEGER}, #{adjtimes,jdbcType=INTEGER}, #{buymuch,jdbcType=REAL},
      #{percent,jdbcType=REAL}, #{buymoney,jdbcType=REAL}, #{buytime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP}, #{suretime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.model.share_project_adj" >
    insert into share_project_adj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="piId != null" >
        pi_id,
      </if>
        <if test="adjtimes != null" >
            adjtimes,
        </if>
      <if test="buymuch != null" >
        buymuch,
      </if>
      <if test="percent != null" >
        percent,
      </if>
      <if test="buymoney != null" >
        buymoney,
      </if>
      <if test="buytime != null" >
        buytime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="suretime != null" >
        suretime,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="piId != null" >
        #{piId,jdbcType=INTEGER},
      </if>
        <if test="adjtimes != null" >
            #{adjtimes,jdbcType=INTEGER},
        </if>
      <if test="buymuch != null" >
        #{buymuch,jdbcType=REAL},
      </if>
      <if test="percent != null" >
        #{percent,jdbcType=REAL},
      </if>
      <if test="buymoney != null" >
        #{buymoney,jdbcType=REAL},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="suretime != null" >
        #{suretime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.model.share_project_adj" >
    update share_project_adj
    <set >
      <if test="piId != null" >
        pi_id = #{piId,jdbcType=INTEGER},
      </if>
        <if test="adjtimes != null" >
            adjtimes = #{adjtimes,jdbcType=INTEGER},
        </if>
      <if test="buymuch != null" >
        buymuch = #{buymuch,jdbcType=REAL},
      </if>
      <if test="percent != null" >
        percent = #{percent,jdbcType=REAL},
      </if>
      <if test="buymoney != null" >
        buymoney = #{buymoney,jdbcType=REAL},
      </if>
      <if test="buytime != null" >
        buytime = #{buytime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="suretime != null" >
        suretime = #{suretime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.model.share_project_adj" >
    update share_project_adj
    set pi_id = #{piId,jdbcType=INTEGER},
    adjtimes = #{adjtimes,jdbcType=INTEGER},
      buymuch = #{buymuch,jdbcType=REAL},
      percent = #{percent,jdbcType=REAL},
      buymoney = #{buymoney,jdbcType=REAL},
      buytime = #{buytime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      suretime = #{suretime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>