<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.dao.share_project_infoMapper" >
  <resultMap id="BaseResultMap" type="com.share.model.share_project_info" >
    <id column="pi_id" property="piId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="nowmuch" property="nowmuch" jdbcType="REAL" />
    <result column="usemuch" property="usemuch" jdbcType="REAL" />
    <result column="costprice" property="costprice" jdbcType="REAL" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="isok" property="isok" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    pi_id, pid, sid, sname, nowmuch, usemuch, costprice, createtime, endtime, type, isok
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_project_info
    where pi_id = #{piId,jdbcType=INTEGER}
  </select>
    <select id="selectByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from share_project_info
        where pid = #{pid,jdbcType=INTEGER}
    </select>

    <select id="countByPid" resultType="java.lang.Integer" parameterType="map" >
        select
          count(0)
        from share_project_info
        where pid = #{pid,jdbcType=INTEGER} and sid = #{sid,jdbcType=VARCHAR}
        and isok = 0
    </select>

    <select id="selectMoneyByPid" resultType="java.lang.Float" parameterType="java.lang.Integer" >
        select nowmuch
        from share_project_info
        where pid = #{pid,jdbcType=INTEGER} AND sid = 'money'
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_project_info
    where pi_id = #{piId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.model.share_project_info" >
    insert into share_project_info (pi_id, pid, sid, 
      sname, nowmuch, usemuch, costprice,
      createtime, endtime, type, 
      isok)
    values (#{piId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR}, 
      #{sname,jdbcType=VARCHAR}, #{nowmuch,jdbcType=REAL}, #{usemuch,jdbcType=REAL}, #{costprice,jdbcType=REAL},
      #{createtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}, 
      #{isok,jdbcType=TINYINT})
  </insert>

    <insert id="insertSelective" parameterType="com.share.model.share_project_info"  keyProperty="piId" useGeneratedKeys="true">
    insert into share_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="piId != null" >
        pi_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="nowmuch != null" >
        nowmuch,
      </if>
      <if test="usemuch != null" >
        usemuch,
      </if>
      <if test="costprice != null" >
        costprice,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isok != null" >
        isok,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="piId != null" >
        #{piId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="nowmuch != null" >
        #{nowmuch,jdbcType=REAL},
      </if>
      <if test="usemuch != null" >
        #{usemuch,jdbcType=REAL},
      </if>
      <if test="costprice != null" >
        #{costprice,jdbcType=REAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="isok != null" >
        #{isok,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.model.share_project_info" >
    update share_project_info
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="nowmuch != null" >
        nowmuch = #{nowmuch,jdbcType=REAL},
      </if>
      <if test="usemuch != null" >
        usemuch = #{usemuch,jdbcType=REAL},
      </if>
        <if test="costprice != null" >
            costprice = #{costprice,jdbcType=REAL},
        </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="isok != null" >
        isok = #{isok,jdbcType=TINYINT},
      </if>
    </set>
    where pi_id = #{piId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.model.share_project_info" >
    update share_project_info
    set pid = #{pid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      nowmuch = #{nowmuch,jdbcType=REAL},
      usemuch = #{usemuch,jdbcType=REAL},
      costprice = #{costprice ,jdbcType=REAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      isok = #{isok,jdbcType=TINYINT}
    where pi_id = #{piId,jdbcType=INTEGER}
  </update>

    <update id="updateMoney" parameterType="com.share.model.share_project_info" >
        update share_project_info
            <set >
            <if test="sid != null" >
                sid = #{sid,jdbcType=VARCHAR},
            </if>
            <if test="sname != null" >
                sname = #{sname,jdbcType=VARCHAR},
            </if>
            <if test="nowmuch != null" >
                nowmuch = #{nowmuch,jdbcType=REAL},
            </if>
            <if test="usemuch != null" >
                usemuch = #{usemuch,jdbcType=REAL},
            </if>
            <if test="costprice != null" >
                costprice = #{costprice,jdbcType=REAL},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null" >
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="isok != null" >
                isok = #{isok,jdbcType=TINYINT},
            </if>
        </set>
        where pid = #{pid,jdbcType=INTEGER} and sid = 'money'
    </update>
</mapper>